*.gem
!.keep
*.DS_Store
*.swo
*.swp
/.bundle
/.env
/.foreman
/coverage/*
/db/*.sqlite3
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/spec/db
!/spec/db/.keep
/tags
pkg
*.ipr
*.iws
*.iml
/.idea
.byebug_history
gemfiles/.bundle/
.yardoc
/doc
